@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#cover  {
    height: 450px;
    width: 100%;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#cCover  {
    height: 450px;
    width: 100%;
    background-image: url('../images/cc.jpg');
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#dCover  {
    height: 450px;
    width: 100%;
    background-image: url('../images/dc.jpg');
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#cat-card {
    background-color: #000;
    background-image: url('../images/cat.jpg');
    background-repeat: no-repeat;
    background-size:  420px 300px;
    background-position: center bottom;
    border-radius: 3px;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
}

#dog-card {
    background-color: #fff;
    background-image: url('../images/dog.jpg');
    background-repeat: no-repeat;
    background-size:  300px 300px;
    background-position: center bottom;
    border: 1px solid #000;
    border-radius: 3px;
    width: 50%;
    display: flex;
    justify-content: center;
}

#about-card {
    background-color: #000;
    background-image: url('../images/dogcat.jpg');
    background-repeat: no-repeat;
    background-size:  300px 300px;
    background-position: center bottom;
    border: 1px solid #000;
    border-radius: 4px;
    width: 50%;
    display: flex;
    justify-content: center;
}

#about-card  h4 {
    font-size: 2em;
    margin-top: 50px;
}

#about-card a, #cat-card a, #dog-card a  {
    color: #4c9cec;
}

.cards {
    height: 400px;
    display: flex;
    max-width: 1000px;
    margin: 70px auto;
    justify-content: center;
}


main {
    flex: 1 0 auto;
}

.pet-card h4 {
    font-size: 2em;
    margin-top: 60px;
}

#cover h2, #cCover h2, #dCover h2  {
    font-size: 4em;
    margin-top: 60px;
}

#cover-background {
    background-color: #f7f7f7;
    height: 350px;
}


footer {
    margin-top: auto;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}

footer div  {

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    color: rgb(154, 154, 154);
}





